#root {
    width: 100%;
    max-width: 1200px; /* or whatever maximum width you prefer */
    text-align: center;
  }

body {
  background-color: #f0f0f0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  height: 100vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: #0096c7;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  align-self: center;
}

.record-btn{
  background-color: #00a86b;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  align-self: center;
}

.stop-btn{
  background-color: #bc544c;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  align-self: center;
}

.line{
  color: transparent;
  padding: 3px;
  margin: 3px;
  size: 1px;
}

.recording-status{
  color: #bc544c;
  font-size: 12px;
  margin: 3px;
}

.footer{
  position: bottom;
  bottom: 0;
  width: 100%;
  color: black;
  background-color: #f0f0f0;
  /* margin-top: 200px; */
}

.start-btn{
  margin-bottom: 200px;
  margin-bottom: 150px;
  color: #fff;
  background-color: #0096c7;
  padding: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  align-self: center;
  margin-top: 15px;
}

.submit-btn{
  margin-bottom: 150px;
  color: #fff;
  background-color: #0096c7;
  padding: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  align-self: center;
  margin-top: 15px;

}

.text{
  font-size: 16px;
  margin: 10px;
  text-align: center;
  text-align: justify;
  margin-bottom: 20px;
}

.image{
  width: 500px;
  justify-self: unset;
  position: sticky;
  top: 0; /* Adjust as needed to position the image */
  bottom: 0; /* Ensures the image stays within the viewport */
  z-index: 999; /* Ensure it stays above other elements */
}

.diagnosis, .index{
  justify-content: center;
  align-items: center;
  max-width: 500px;
}

/* Mobile friendly styles */
@media (max-width: 600px
) {
  .diagnosis {
    max-width: 90%;
    padding: 20px;
  }

  .footer {
    font-size: 14px;
    padding: 10px;
    position: bottom;
  }


  .title{
    font-size: 18px;
    position: sticky;
    top: 0;
    background-color: #f0f0f0; /* Optional: to ensure the title has a background */
    z-index: 1000; /* Optional: to ensure it stays above other elements */
  }
  .record-btn, .stop-btn {
    width: 100%;
    padding: 15px;
    font-size: 16px;
  }

  .submit-btn{
    width: 100%;
    padding: 15px;
    font-size: 16px;
  }

  .start-btn{
    margin-bottom: 500px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  .recording-status {
    font-size: 14px;
  }

  .audio {
    width: 100%;
  }

  .audio audio {
    width: 100%;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image{
    width: 100%;
    position: sticky;
    top: 0; /* Adjust as needed to position the image */
    bottom: 0; /* Ensures the image stays within the viewport */
    z-index: 999; /* Ensure it stays above other elements */
    margin-top: 100px;
  }

  .text{
    font-size: 14px;
  }

  .title{
    font-size: 18px;
    position: sticky;
    top: 0;
    background-color: #f0f0f0; /* Optional: to ensure the title has a background */
    z-index: 1000; /* Optional: to ensure it stays above other elements */
  }
}
